{
  "root": true,
  "ignorePatterns": [
    "/packages/core/src/",
    "/packages/core/bld/",
    "/packages/cli/src/",
    "/packages/cli/bld/",
    "/packages/utils/src/",
    "/packages/utils/bld/",
    "/packages/boilerplate-url/src/",
    "/packages/boilerplate-url/bld/",
    "/packages/boilerplate-url-resolver/src/",
    "/packages/boilerplate-url-resolver/bld/"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  }
}
